html
    head
        title Selamat Datang
    body
        a(href="http://localhost:3000/game/create") Tambah
        table
            tr
                td no
                td nama
                td date release
                td developer
                td game type
                td aksi
            for row, index in data
                tr
                    td #{index + 1}
                    td #{row.name}
                    td #{row.date_release}
                    td #{row.developer}
                    td #{row.game_type}
                    td
                        form(action=`/game/${row.id_game}?_method=DELETE`, method="post")
                            input(type="submit", value="Hapus")
                            a(href=`/game/${row.id_game}/edit`) Ubah
